.font-10px{
    font-size: 10px!important;
}
.font-11px{
    font-size: 11px!important;
}
.font-12px{
    font-size: 12px!important;
}
.font-13px{
    font-size: 13px!important;
}
.font-14px{
    font-size: 14px!important;
}
.font-15px{
    font-size: 15px!important;
}
.font-18px{
    font-size: 18px!important;
}
.font-19px{
    font-size: 19px!important;
}
.font-20px{
    font-size: 20px!important;
}
